{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}
    <h1>Edit Password</h1>

    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
    <button type="submit">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('profil_index') }}">back profil</a>

{% endblock %}
